/* ============= VARIABLES Y DARK THEME ============= */

:root{
    --color-dark : rgb(0, 0, 0);
    --color-dark-1 : rgb(64, 64, 64);
    --color-dark-2 : rgb(43, 43, 43);
    --color-ligth : rgb(255,255,255);
    --color-ligth-1 : rgb(245,245,245);
    --color-primary: rgb(1, 50, 155);
    --color-primary-ligth: color-mix(in srgb, var(--color-primary) 50%, white);

    --color-bg : rgb(255,255,255);
    --color-text : var(--color-dark-1);
    --color-title : var(--color-dark);

    --color-block-bg : var(--color-primary);
    --color-block-text : var(--color-ligth);
    --color-block-title : var(--color-ligth);

    --color-card-bg : var(--color-ligth-1);
    --color-card-text : var(--color-dark-1);
    --color-card-title : var(--color-dark);
}

.dark{
    --color-bg: var(--color-dark-2);
    --color-title: var(--color-ligth);
    --color-text: var(--color-ligth);
    
    --color-card-text : var(--color-ligth);
    --color-card-title : var(--color-ligth);
    --color-card-bg : var(--color-dark-1);
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-title);
    margin: 0;
}

button{
    color: var(--color-ligth)
}

a{
    text-decoration: none;
    color: var(--color-primary-ligth);
    cursor: pointer;
}

/* ============= ESTILOS GENERALES ============= */

body{
    min-height: 100dvh;
    width: 100%; /* Lo tenía en dvw - chatgpt me lo recomendó con 100% */ 
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Segoe UI';
    
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: all 0.5s;
}

.container{
    width: 1400px;
    max-width: 90%;
    height: 100%;
    margin: auto;
}

/* ============= BLOQUES ============= */

/* NAV */

nav{
    height: 100px;
    width: 100%;
    background-color: var(--color-block-bg);
    color: var(--color-block-text);
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: var(--color-block-text);
}

nav input{
    display: none;
}

nav i{
    font-size: 30px;
    cursor: pointer;
}


/* MAIN */

main{
    width: 100%;
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
}

main h1{
    margin: 25px;
}

/* ============= COMPONENTES ============= */

/* ===== CARDS ===== */


.cards-container{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.card{
    width: 250px;
    height: 420px;
    padding: 25px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: var(--color-card-bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-3px);
}

.card__title{
    margin: 0 0 12px 0;
    font-size: 24px;
    color: var(--color-card-title);
}

.card__text{
    margin: 0 0 15px 0;
    height: 100px;
}

.card__body{
    text-align: start;
}

.card__footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    
    color: var(--color-ligth);
    background-color: var(--color-primary);
    
    
    height: 28px;
    width: 100px;
    margin-top: 8px;
}