:root {
  --dark: #34495E;
  --ligth: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
}

/* NOTIFICACIONES | TOAST ========================================= */

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}

.notifications .toast {
  background: var(--ligth);

  border-radius: 4px;
  padding: 16px;
  width: 400px;
  list-style: none;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  --color-notification: var(--dark);
  animation: show_toast 0.3s ease;
}

.notifications .toast.hiden {
  animation: hide_toast 0.3s ease forwards;
}

.toast::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: var(--color-notification);
  bottom: 0;
  left: 0;
  animation: progress 3s linear forwards;
}

/* COLORES TOAST */
.toast.success {
  --color-notification: var(--success);
}

.toast.error {
  --color-notification: var(--error);
}

.toast.warning {
  --color-notification: var(--warning);
}

.toast.info {
  --color-notification: var(--info);
}


.toast .column i {
  font-size: 1.75rem;
  color: var(--color-notification)
}

.toast .column span {
  margin-left: 12px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.toast i:last-child:hover {
  color: var(--dark);
}

/* ANIMACIONES ========================================= */

@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes show_toast {
  0% {
    transform: translateX(calc(100% + 20px));
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}