/* =============== VARIABLES */

:root{
    --color-primary: rgb(1, 50, 155);
    --color-primary-intense: color-mix(in srgb, var(--color-primary) 50%, rgb(0,0,0));
    --color-primary-ligth: color-mix(in srgb, var(--color-primary) 10%, rgb(255,255,255));
    
    --color-success: rgb(7, 120, 26);
    --color-danger: rgb(150, 0, 0);


    /* de este para abajo esta ok */
    --color-ligth: rgb(255,255,255);
    --color-ligth-1: rgb(240,240,240);
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    margin: 0;

    background-color: var(--color-ligth-1);
}

/* =============== ESTILOS GENERALES */

button{
    padding: 5px 5px;
    
    background-color: var(--color-primary);
    color: var(--color-ligth);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

.container{
    width: 1420px;
    max-width: 95%;
    margin: auto;
}

/* buttons */

.btnActive{
    background-color: var(--color-primary-intense);
}

.btn--success{
    background-color: var(--color-success);
}

.btn--danger{
    background-color: var(--color-danger);
    padding: 5px 8px;
}

.btn--edit{
    padding: 5px 8px;
    background-color: rgb(80, 80, 80);
}

/* =============== SECCIONES */

/* nav */

nav{
    height: 80px;
    background-color: var(--color-primary);
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a{
    color: var(--color-ligth);
}

/* main */

main{
    flex: 1;
    text-align: center;
}

.main-header{
    margin-bottom: 16px;
}

.main-header button{
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
}


/* =============== ELEMENTOS */


/* form */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    margin: 0;

    background-color: var(--color-ligth);
    box-shadow: 0 3px 6px rgba( 0, 0, 0 , 0.2);
    border-radius: 5px;
    padding: 18px 12px;
}

.form__text-group{
    display: flex;
    gap: 6px;

    width: 100%;
}

.form__text-group input{
    flex: 1;
}

.form__option-group{
    display: flex;
    gap: 6px;
    width: 100%;
}

.form__option-group select{
    flex: 1;
}


/* modal */

.container-modal{
    position: fixed;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.container-modal.show{
    opacity: 1;
    pointer-events: auto;
    text-align: center;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    max-width: 90%;
    max-height: 80%;
    width: 600px;
    /* height: 550px; */
    padding: 18px 25px;

    background-color: var(--color-ligth-1);
    box-shadow: 0 0 8px rgba(100, 100, 100, 1);
    border-radius: 20px;
}


.form--modal{
    border-radius: 20px;
    width: 100%;

}

.form--modal button{
    width: fit-content;
    padding: 5px 15px;
}

.modal h2{
    margin: 0;
}

.form--modal label{
    margin-right: auto;
}

.form--modal input,
.form--modal p,
.form--modal select{
    margin-top: 5px;
    margin-bottom: 15px;
}

.form--modal__newList{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;

    border-bottom: 1px solid #aaa;
}

.form--modal button{
    margin: auto;
}

.form--modal__editList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form--modal__editTask{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* notes */

.notes-container{
    background-color: var(--color-ligth);
    box-shadow: 0 3px 6px rgba( 0, 0, 0 , 0.2);
    border-radius: 5px;
}

.notes-container > *:not(:last-child){
    border-bottom: 1px solid black;
}

.note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 5px 10px 5px;

}

.note:hover{
    background-color: var(--color-primary-ligth);
}

.note p{
    margin: 0;
}

.note__btnActions{
    display: flex;
    gap: 6px;
}

/* button lists */

.buttons-lists-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    margin: 16px 0;
    
}

.buttons-lists__group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.buttons-lists__group button{
    padding: 5px 10px;
}

/* =============== EXTRAS: (e inspirados en Bootstrap) */


i{
    pointer-events: none;
}


.italic{
    font-style: italic;
}
